{% extends "base.html" %}

{% block content %}
<h1>Borrado de Ingreso-Gasto</h1>
<article>
    <table>
        <tr>
            <th>Fecha:</th>
            <td>{{ movement.date }}</td>
        </tr>
        <tr>
            <th>Concepto:</th>
            <td>{{ movement.concept }}</td>
        </tr>
        <tr>
            <th>Cantidad:</th>
            <td>{{ "%.2f" | format(movement.quantity) }} €</td>
        </tr>
    </table>
    <form action="/delete/{{ movement.id }}" method="post">
        <div class="grid">
            <button>Aceptar</button>
            <a href="/" class="return">Cancelar</a>
        </div>
    </form>
</article>

{% endblock %}